<div id="News header">
<h1 class="subheader">News feed</h1>
</div>

<%= link_to 'Post a new status', new_status_path, class: "tiny button radius" %>


<% @statuses.each do |status| %>
  <div class="status">
    <strong><%= status.user.full_name %></strong>
    <p><%= status.content %></p>
    
 

    <div class="meta">
    <%= link_to time_ago_in_words(status.created_at) + " ago", status, class: "tiny button success radius" %>
    <span class="admin">
    <%= link_to 'Edit', edit_status_path(status), class: "tiny button secondary radius"%>
    <%= link_to 'Delete', status, method: :delete, data: { confirm: 'Are you sure?' }, class: "tiny button secondary radius" %>
    </span>
    </div>
  </div>
<% end %>