<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<div class="row">
  <div class="large-6 columns">
  	<%= f.input :profileName, label: 'Profile name', :autofocus => true %>

  	<%= f.input :password, label: 'Password' %>
  </div>
</div>

<div class ="row">
	<div class="large-8 columns">
     <% if devise_mapping.rememberable? -%>
      <div id="radio"><%= f.input :remember_me, as: :boolean%></div>
     <% end %>

     <div id="submit"><%= f.submit "Sign in", :class => 'button' %>
    	<%= render "devise/shared/links" %>
     </div>
  
    <% end %>
  </div>
</div>



